.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width:100%;
}


/*FOOTER*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}

.footer
{
  text-align: center;
  background-color: rebeccapurple;

}
.push{

  left: 0;
  bottom: 0;
  height: 25px;

}
