
<header>
  <mat-toolbar color="primary">

    <button  mat-raised-button color="secondary"  routerLink="login" *ngIf="!loggedIn"  > Login</button>
    <button  mat-raised-button color="secondary"   href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</button>
    <button  mat-raised-button color="secondary"  routerLink="userprofile" *ngIf="loggedIn">Profile</button>
    <button  mat-raised-button color="secondary"  routerLink="map" *ngIf="loggedIn">Map</button>


    <button (click)="goHome()" mat-raised-button color="primary">{{ 'home' | translate }}</button>
    <button (click)="goNoutati()" mat-raised-button color="primary">{{ 'newss' | translate }}</button>
    <button (click)="goAbout()" mat-raised-button color="primary">{{ 'about' | translate }}</button>
    <button (click)="goProfil()" mat-raised-button color="primary">{{ 'profile' | translate }}</button>
    <button (click)="goCoordonator()"mat-raised-button color="primary">{{ 'coordinator' | translate }}</button>
    <button (click)="goContact()" mat-raised-button color="primary">{{ 'contact' | translate }}</button>
  <button (click)="useLanguage('en')" mat-raised-button color="primary" style="position: absolute; right: 0;" >EN</button>
  <button (click)="useLanguage('ro')" mat-raised-button color="primary" style="position: absolute; right: 65px;" >RO</button>

  </mat-toolbar>
</header>

<div>

  <router-outlet></router-outlet>
</div>

<footer class="footer" id="footer" >

    <div class="content has-text-centered">
      <p>
        © Copyright 2020 <a href="https://www.linkedin.com/in/hollo-jozsef/">Hollo Jozsef</a>
      </p>
    </div>

</footer>

