<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover, a:hover {
      opacity: 0.7;
    }
  </style>
</head>
<body>

<h2 style="text-align:center">{{ 'titluAbout' | translate }}</h2>

<div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/61FkiF3lfDL._AC_SL1305_.jpg"  style="width:100%">

  <p class="title">{{ 'obiectiveAbout' | translate }}</p>
  <p>{{ 'descriereAbout' | translate }}</p>
  <p class="title">{{ 'skillsAbout' | translate }}</p>
  <p>Embeddded C</p>
  <p>Microcontrollers</p>
  <p>Hardware</p>

  <div style="margin: 24px 0;">
  </div>
  <div class="comments-container comm">
    <hr class="divider">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <textarea class="postCom" id="postCom" name="desc" ngModel required #desc="ngModel" placeholder="Leave your comment here" ></textarea>
      <button type="submit" class="subBtn" mat-flat-button color="primary" >Submit</button>
    </form>

    <ul class="comments-list comm">
      <li>
        <div class="comment-main-level comm" *ngFor="let comm1 of com">
          <div  class="comment-avatar comm"><img  width="30" height="30" src="assets/avatars/{{comm1.imgroot}}" alt="avatar"></div>
          <div class="comment-box comm">
            <div class="comment-head comm">
              <h6  class="comment-name comm">   {{comm1.nume}}</h6>
            </div>
            <div class="comment-content comm">
              {{comm1.desc}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


</div>

</body>
</html>
