<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover, a:hover {
      opacity: 0.7;
    }
  </style>
</head>
<body>


<div class="card">
  <img width="300" height="300" src="assets/avatars/{{user.avatar}}"  class="avatar">

  <p class="title">Username:{{user.name}}</p>
 <!-- <p class="title">Password:{{user.password}}</p> -->
  <p class="title">Email:{{user.email}}</p>
  <div style="margin: 24px 0;">

  </div>
  <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Avatar</button>


</div>

</body>
</html>


